body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    clear: both;
}

h1 {
    text-align: center;
}

/* PRODUCT CARDS - MAIN CONTAINER */

.books {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
}

.card {
    border: 1px lightblue solid;
    box-shadow: 2px 2px;
    margin: 20px;
    width: 30%;
    text-align: center;
}

.card header h2 {
    text-align: center;
}

.card p {
    width: 30%px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: justify;
    font-size: 1em;
    padding: 15px;
}

.card img {
    width: 50%;
    padding: 15px;
}

/* PRODUCT CARDS AVAILABILITY SECTION */

.availability {
    background-color: #333;
    color: Yellow;
    padding-left: 5px;
    text-align: left;
}

/* PRODUCT CARDS SPECIFICATIONS SECTION */

.specifications {
    padding-left: 5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.specifications h3 {
    margin: 5px 15px 5px 5px;
    padding: 0;
}

.specifications p {
    font-weight: bold;
    margin: 10px 3px;
    padding: 0;
}

.specifications footer {
    font-weight: normal;
    font-size: 12px;
    margin: 5px 5px;
}

/* PRODUCT CARDS PRICING SECTION */

.pricing {
    text-align: left;
    margin: 0;
    padding: 0;
}

.pricing h3 {
    margin: 5px 15px 5px 5px;
    padding: 0;
}

.pricing p {
    margin: 10px 3px;
    padding: 0;
    font-weight: bold;
}
